*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* ---web-view--- */
.bg-image{
    background-image: url(https://jolly-kalam-23776e.netlify.app/restaurantwebsite/assets/images/topography.svg);

}
.main{
    background-image:linear-gradient(110deg, #f93d66c6, #6e47d9e4);
    padding: 5% 3%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;     
}
/* ---header--- */
.menu{
    display: none;
    background-color: #FFC600;
    padding: 2%;
}
.header{
    display: flex;
    justify-content: space-between;
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFC600;
        width: 19%;
        height: 7vh;
    }
}
/* -- ----banner---- -- */
.banner{
    margin-top: 2%;
    display: grid;
    grid-template-columns: 8fr 4fr;
    grid-template-rows: 6fr 6fr;
    column-gap: 3vh;
    row-gap: 3vh;
    grid-template-areas: 
    "image 1"
    "image 2"
    ;
}
.banner-image{
    grid-area: image;
    height: 60vh;
    background-image: url(taco.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    div{
        display: inline-block;
        width: auto;
       h1{
        background-color:#FFC600;
        margin-bottom: 2%;
        font-size: xx-large; 
       }
       p{
        background-color: #FFC600;
        font-weight: 700;
        display: inline;
        width: auto;
       }
    }
}
.price{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFC600;
    div{
        text-align: center;
        h1{
            font-size: 4rem;
            font-weight: lighter;
        }
        p{
            font-size: 1rem;
            font-weight: bolder;
            font-family: "Gill Sans", sans-serif;
        }
    }
}
/* services */
.services{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 1%;
    margin-top: 1%;
    div{
        background-color: white;
        text-align: center;
        padding: 5%;
        .emoji{
            font-size: 3rem;
        }
        p{
            color: rgb(68, 66, 66);
            text-shadow: 1px 1px 1px rgb(54, 52, 52);
        }
    }
}
/* featured */
.featured{
    margin-top: 1%;
    padding: 4%;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: white;
    height: 70vh;
    line-height: 1.9;
    img{
        width: 30%;
    }
    p{
        text-shadow: 1px 1px 1px rgb(54, 52, 52);
        font-weight: bold;
    }
    a{
        background-color: #FFC600;
        text-decoration: none;
        padding: 2%;
        
    }
}
/* images */
.image-heading{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 2% 0%;
    gap: 1%;
    .left{
        width: 42vw;
        height: 1.5vh;
        background-image: linear-gradient(to right ,#17181529,  #FFC600);
    }
    .right{
        width: 42vw;
        height: 1.5vh;
        background-image: linear-gradient(to right ,#FFC600, #1718151e);
    }
}
.images{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto;
    row-gap: 4%;
    img{
       width: 90%;
       
    }
}
/* responsivness */
@media screen and (max-width:500px) {
    .menu{
        display: inline; 
    }
    .header{
        display: none;
    }
    .banner, .services{
        display:block;
        div{
            margin: 2%;
        }
    }
    .featured{
        flex-direction: column;
        justify-content: center;
        margin: 2%;
        padding: 14%;
        line-height: 1.5;
        img{
            display: block;
            width: 90%;
        }
    }
    .images{
        display: block;
        text-align: center;
        img{
            margin-top: 1%;
        }
    }
}